.box{
                              border: 1px solid #f0e9ff;
                              border-radius: 5px;
                              height: 48px;
                              padding-left: 18px;
                              background: transparent;
                          }