body {
 background-color: #E6E6E6;
 margin:70px;
 font-family: "Times New Roman", Times, serif;
  margin-left:80px;
  margin-right:80px;}

 header{
  background-color: #E6E6E6;
  
 }
 .contact{
text-align: right;}
button{
 background-color: rgb(51, 103, 214);
 color: white;
padding:5px 10px;
border-color: rgb(51, 103, 214);
margin-bottom: 10px;                         
 }  
.contact__tel{
margin:0;
 }
 .contact__mail{
margin:0;
 }
 
 h1{
letter-spacing:2px;
text-transform: uppercase;
font-family: system-ui, sans-serif;
font-size: 60px;
font-weight: 30px;
margin:0;
 }
 h3{
margin:0;
 }
 i{
font-size: 20px;
margin-top:10px;
font-weight: normal;

 }
 

.table1{
color:#101010;
}
.table1__td{
width:400px;

}

 th {
  text-align: left;
  white-space: wrap;
 }
 td {
 
 white-space: wrap;
 }
 footer{
color :red;
 }